/*左下容器*/
.leftDown {
    height: calc(100% - 30px);
    width: 100%;
    padding: 15px 15px 5px 15px;
    border: 1px solid #8a868b;
    margin-top: -5px;
}

.header {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #dfdbe0;
}

._title {
    height: 30px;
    margin-top: 10px;
}

._title div {
    display: inline-block;
    height: 25px;
    width: 80px;
    margin-left: 5px;
}

._title input {
    display: inline-block;
    width: calc(100% - 90px);
}

.subtitle {
    height: 30px;
    margin-top: 5px;
}

.subtitle div {
    display: inline-block;
    height: 25px;
    width: 80px;
    margin-left: 5px;
}

.subtitle input {
    display: inline-block;
    width: calc(100% - 90px);
}

.align {
    height: 25px;
    margin-top: 5px;
}

.align div {
    display: inline-block;
    height: 25px;
    width: 80px;
    margin-left: 5px;
}

.align select {
    display: inline-block;
    width: calc(100% - 90px);
    background-color: #c3bfc4;
}

.select {
    /*border: 1px solid blueviolet;*/
    margin-left: 3%;
    width: 87%;
    background: #c3bfc4;
}

.logoAll {
    height: calc(100% - 120px);
    width: calc(100% - 10px);
    margin: 5px;
    border: 1px solid #dfdbe0;
    position: relative;
}

.logoText {
    height: 90%;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    margin-bottom: -5px;
}

.selectLogo {
    line-height: 20px;
    margin-right: 10px;
    background: #c3bfc4;
    border: 1px solid #000000;
    float: right;
}

.clearLogo {
    line-height: 20px;
    margin-right: 10px;
    background: #c3bfc4;
    border: 1px solid #000000;
    float: right;
}

.button {
    line-height: 20px;
    width: 100%;
}

.updateButton {
    width: 100px;
    border: 1px solid #000;
    margin: 5px auto;
    background: #c3bfc4;
    text-align: center;
}

.scroll::-webkit-scrollbar {
    display: none;
}

/*左上容器*/
.leftUp {
    height: calc(100% - 15px);
    width: 100%;
    padding: 0 5px;
    border: 1px solid #8a868b;
    margin-top: 5px;
    overflow: auto;
}

.leftUp ul {
    list-style: none;
    padding-left: 20px;
}

.main ul {
    display: none;
}

.picture1 {
    background: url(../../images/leftUp+.png) no-repeat;
    padding-left: 15px;
    height: 9px;
    width: 9px;
    float: left;
    margin: 6px 5px;
}

.picture2 {
    background: url(../../images/leftUp-.png) no-repeat;
    padding-left: 15px;
    height: 9px;
    width: 9px;
    float: left;
    margin: 6px 5px;
}

.divList {
    text-decoration: none;
    color: #000000;
    margin-top: -22px;
    margin-left: 23px;
}

.leftUp ul li ul li input{
    margin-left: 10px;
}

.leftUp ul li input{
    margin-left: -10px;
}