.leftDown {
    background: #f5f1f6;
    width: 30%;
    height: 45vh;
    position: relative;
    top: 50vh;
    border: 1px solid #666;
    padding: 10px;
}

.header {
    border: 1px solid #dfdbe0;
    height: 90%;
}

.topHeader {
    /*border: 1px solid red;*/
    margin-top: -2%;
    padding-left: 1.5%;
}

.input_title {
    /*border: 1px solid blueviolet;*/
    margin-top: 1.5%;
    width: 100%;
}

.input_subtitle {
    /*border: 1px solid blueviolet;*/
    margin-top: 1.5%;
    width: 100%;
}

.selectLogo {
    background: #c3bfc4;
    padding: 3px;
    margin-top: 1.5%;
    margin-right: 1.5%;
    border: 1px solid #000000;
    float: right;
}

.clearLogo {
    background: #c3bfc4;
    padding: 3px;
    margin-top: 1.5%;
    margin-right: 1.5%;
    border: 1px solid #000000;
    float: right;
}


.align {
    /*border: 1px solid red;*/
    margin: 2% 0% 0% 0%;
    width: 100%;
}

.select {
    /*border: 1px solid blueviolet;*/
    margin-left: 3%;
    width: 87%;
    background: #c3bfc4;
}

.logoAll {
    border: 1px solid #dfdbe0;
    margin: 2% 1%;
    width: 98%;
    height: 52%;
}

.logoText {
    border: 1px solid #333;
    margin: 1px;
    padding: 10px;
    height: 70%;
}

.button {
    /*border: 1px solid red;*/
    margin: 1% 0% 0% 0%;
}

.updateButton {
    /*background: #c3bfc4;
    padding: 3px;
    margin-left: 40%;
    border: 1px solid #000000;
    width: 20%;*/

    background: #c3bfc4;
    padding: 3px;
    border: 1px solid #000000;
    margin:2% 38% 0% 38%;
    text-align: center;
}